.jumbotron.footer {
    padding: 2rem 1rem;
    background-color: #1f2f98; 
    background-image: linear-gradient(to left, #1f2f98, #1a1a1a); 
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1); 
    color: #F5C518; 
    transition: all 0.3s ease-in-out;
}

.jumbotron.footer p {
    font-size: 1.2rem; 
    text-align: center; 
    text-shadow: 1px 1px 2px #000000; 
}
