.row {
    margin-bottom: 20px; 
}

.grows {
    transition: transform 0.2s ease; /* Smooth transition for hover effect */
}
.grows:hover {
    transform: scale(1.05); 
}
.btn {
    margin: 10px;
    padding: 10px 20px; 
    font-weight: bold; 
    border-radius: 5px; 
    text-transform: uppercase; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
}

.btn-blue {
    background-color: #1f2f98 ; 
    color: #F5C518 
}

.btn-light {    background-color: #f8f9fa; 
    color: black; 
}

.btn-light:hover {
    background-color: #e2e6ea; 
}
