.jumbotron {
        padding: 2rem 1rem;
        background-color: #1f2f98; 
        background-image: linear-gradient(to right, #1f2f98, #1a1a1a); 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        color: #F5C518; 
        transition: all 0.3s ease-in-out;
    }
    
.header-container {
        max-width: 800px; 
        margin: 0 auto;
    }
    
.display-4 {
        font-size: 3rem; 
        text-shadow: 2px 2px 4px #000000; 
    }
    
.jumbotron:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
        transform: translateY(-2px); 
    }
    