<nav class = "nav-expand-md border-bottom mb-3 ">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/home" routerLinkActive="text-dark">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/about" routerLinkActive="text-dark">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/something" routerLinkActive="text-dark">Something</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/something1" routerLinkActive="text-dark">Something1</a>
            </li>
        </ul>

    </div>
</nav>
