.nav-item {
    margin: 0 10px; 
}

.nav-link:hover, .nav-link.routerLinkActive {
    text-shadow: 1px 1px 2px #F5C518; /* Subtle shadow for depth */
}

@media (max-width: 768px) {
    
    .nav-item {
        margin: 5px 0;
    }
}
