@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
.spin {
    animation: spin 40s linear infinite;
  }
  
p {
    color: #007bff; /* Change to your preferred color */
    margin-bottom: 20px;
    font-size: 1.1em; /* Slightly larger font size for readability */
    line-height: 1.6; /* Improved line spacing for better readability */
    max-width: 800px; /* Set a max-width for better text alignment */
    margin: auto; /* Center the text block */
}

.text-container {
    padding: 20px;
  }
  


