<div class="container">
  <div class="row">
    <!-- Image on top -->
    <div class="col-12 text-center">
      <img src="../../assets/cinema_image.png" alt="full_color_logo" width="256" height="256" class="rounded-circle my-3" [class.spin]="shouldSpin">
    </div>

    <!-- Text below the image -->
    <div class="col-12">
      <div class="text-container text-center">
        <h2 class="about-title">Discover the World of Cinema</h2>
        <p>Welcome to our movie website, where you can explore an extensive collection of films from around the globe. 
          Stay updated with the latest releases, delve into classic masterpieces, and enjoy personalized recommendations. Whether you're a casual viewer or a cinephile, our platform is designed to enhance your movie-watching experience.</p>
      </div>
    </div>
  </div>
</div>
